@use 'sass:math';

@mixin flexItem ($direction, $wrap){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@function pxToRem($args){
  $result: math.div($args, 16) * 1rem;
  @return $result;
}

@function pttToRem($args){
  $aux: math.div($args, 2);
  $result: math.div($aux, 16) * 1rem;
  @return $result;
}