@import "./normalize.css";
@font-face {
    font-family: 'Leixo';
    src: url('assets/fonts/LEIXO.ttf') format('truetype');
}
@font-face {
    font-family: 'OCRASTD';
    src: url('assets/fonts/OCR-A-Std.ttf') format('truetype');
}
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap');
//UI Settings

//Components
/* @import "./app/home/home.component.scss";
@import "./app/about/about.component.scss";
@import "./app/contact/contact.component.scss";
@import "./app/proyects/proyects.component.scss";
 */